//- Base config
- var posts = 5
- var page = 'index'


//- Text contents
- var title = 'MILL KEY WEB TEST aaa'
- var description = 'Ipsum assumenda magnam natus iste vel eos. Qui vero sequi.'
- var postTitle = 'Dolor labore fuga laudantium soluta reiciendis nesciunt. Fugit dolore sequi.'
- var postSummary = 'Dolor nostrum atque unde dolorum at earum asperiores sequi nisi. Maxime voluptatibus ullam earum numquam laudantium! Sit quibusdam eligendi repudiandae pariatur ad ipsum ipsum ad ducimus tenetur necessitatibus quaerat doloremque!'
- var post = 'Dolor nostrum atque unde dolorum at earum asperiores sequi nisi. Maxime voluptatibus ullam earum numquam laudantium! Sit quibusdam eligendi repudiandae pariatur ad ipsum ipsum ad ducimus tenetur necessitatibus quaerat doloremque! Dolor nostrum atque unde dolorum at earum asperiores sequi nisi. Maxime voluptatibus ullam earum numquam laudantium! Sit quibusdam eligendi repudiandae pariatur ad ipsum ipsum ad ducimus tenetur necessitatibus quaerat doloremque!'
- var subTitle = 'Amet eum ex.'
- var subSummary = 'Dolor nostrum atque unde dolorum at earum asperiores sequi nisi. Maxime voluptatibus ullam earum numquam laudantium! Sit quibusdam eligendi repudiandae pariatur ad ipsum ipsum ad ducimus tenetur necessitatibus quaerat doloremque!'


//- Image contents
- var thumbnail = 'http://www.getmdl.io/templates/blog/images/coffee.jpg'
- var subThumbnail = ''


//- class list
- var bodyClass = ['']
- var navigationLinkButtonClass = ['mdl-button', 'mdl-js-button', 'mdl-js-ripple-effect', 'mdl-color--white', 'mdl-shadow--2dp']
- var containerClass = ['container-fluid']
