// .mill-drawer 
  ul.mill-nav(
    class=[
      'nav',
    ]
  )
    li.mill-nav__item(
      role='presentation',
      class='active',
    )
      a.mill-nav__link(href='#') Home
    li.mill-nav__item
      a.mill-nav__link(href='#') 仕事術
    li.mill-nav__item
      a.mill-nav__link(href='#') ライフハック
    li.mill-nav__item
      a.mill-nav__link(href='#') Web戦略
    li.mill-nav__item
      a.mill-nav__link(href='#') WordPress
    li.mill-nav__item
      a.mill-nav__link(href='#') サイトマップ
    li.mill-nav__item
      a.mill-nav__link(href='#') メールマガジン
    li.mill-nav__item
      a.mill-nav__link(href='#') お問い合わせ
// .mill-drawer 
