//- Material Icons
//- link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')


//- Material css
//- link(rel='stylesheet' href='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css')


//- Latest compiled and minified Bootstrap CSS
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==' crossorigin='anonymous')


//- Optional Bootstrap theme
//- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css' integrity='sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX' crossorigin='anonymous')


//- Font awesome
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')


//- Compiled style.css
link(rel='stylesheet' href='../css/style.css' media='all')
