.mill
  .mill-header
    .mill-header__navbar.mill-navbar
      .mill-container-fluid
        .mill-navbar__header
          .mill-navbar__toggle
          .mill-navbar__brand

        .mill-navbar__collapse
          .mill-navbar__nav.mill-nav
            .mill-nav__item
              .mill-nav__link
            .mill-nav__item.mill-dropdown
              .mill-dropdown__toggle
              .mill-dropdown__menu
                .mill-dropdown__item
                  .mill-dropdown__link
                .mill-dropdown__separator

          .mill-navbar__form.mill-form.mill-navbar--left
            .mill-form__group
              .mill-form__control
            .mill-btn
          
    .mill-header__nav
      .mill-container-fluid
        .mill-nav.mill-nav--tabs
          .mill-nav__item
            .mill-nav__link
          .mill-nav__item.mill-dropdown
            .mill-dropdown__toggle
            .mill-dropdown__menu
              .mill-dropdown__item
                .mill-dropdown__link
              .mill-dropdown__separator

  .mill-drawer
    .mill-list-group
      .mill-list-group__item
        .mill-list-group__link

  .mill-content
    .mill-container-fluid
      .mill-row
        .mill-main
          .mill-main__header
            .mill-card
              .mill-card__header
                .mill-card__title
              .mill-card__body
                .mill-card__subtitle
          .mill-main__body
            .mill-card.mill-card--entry
              .mill-card__header
                .mill-card__title
              .mill-card__body
                .mill-card__subtitle
          .mill-main__footer
        .mill-side
          .mill-side__header
          .mill-side__body
          .mill-side__footer
  .mill-footer
    .mill-footer__navbar.mill-navbar
      .mill-container-fluid
        .mill-navbar__header
          .mill-navbar__toggle
          .mill-navbar__brand

        .mill-navbar__collapse
          .mill-navbar__nav.mill-nav
            .mill-nav__item
              .mill-nav__link
            .mill-nav__item.mill-dropdown
              .mill-dropdown__toggle
              .mill-dropdown__menu
                .mill-dropdown__item
                  .mill-dropdown__link
                .mill-dropdown__separator
