// Back to Top

// $site-back-to-top-padding: 1rem 0 1rem !default;
$site-back-to-top-padding: 16px 0 16px !default;
// $site-back-to-top-font-size: 24px !default;
// $site-back-to-top-icon-size: 24px !default;

$site-back-to-top-link-color: $site-dark-contrast-color !default;
$site-back-to-top-link-hover-color: $site-dark-contrast-hover-color !default;
$site-back-to-top-bg-color: $site-gray-darker !default;
