// Breadcrumb

$site-breadcrumb-font-size:     $site-font-size-xs !default;
$site-breadcrumb-line-height:   1 !default;
$site-breadcrumb-padding:       8px 0 8px !default;

// $site-breadcrumb-bg-color:      $site-gray !default;
$site-breadcrumb-color:         $site-dark-contrast-color !default;
$site-breadcrumb-link-color:    $site-dark-contrast-color !default;
$site-breadcrumb-link-hover-color:    $site-dark-contrast-hover-color !default;
