// Colophon

$site-colophon-text-color: $site-dark-contrast-color !default;
$site-colophon-link-color: $site-dark-contrast-color !default;
$site-colophon-link-hover-color: $site-dark-contrast-hover-color !default;

$site-colophon-bg-color: $site-gray-darkest !default;
