// Entry

// List

$site-entry-list-title: $site-font-size-sm !default;
$site-entry-list-title-md: $site-font-size-lg !default;

$site-entry-list-title-color: $site-light-contrast-active-color !default;
$site-entry-list-subtitle-color: $site-light-contrast-color !default;

$site-entry-list-link-color: $site-light-contrast-color !default;
$site-entry-list-link-hover-color: $site-light-contrast-hover-color !default;

$site-entry-list-object-size: 40px !default;


// Card

$site-entry-card-title: $site-font-size-h3 !default;
$site-entry-card-title-md: $site-font-size-h2 !default;
$site-entry-card-summary-color: $site-light-contrast-color !default;
