// Pagination

$site-pagination-padding-x:                .75rem !default;
$site-pagination-padding-y:                .5rem !default;

$site-pagination-link-color:               $site-light-contrast-color !default;
$site-pagination-link-hover-color:         $site-light-contrast-hover-color !default;
$site-pagination-link-active-color:        $site-light-contrast-active-color !default;
