// Page links

$site-page-links-padding-x:           .75rem !default;
$site-page-links-padding-y:           .5rem !default;
$site-page-links-line-height:         $site-line-height !default;

$site-page-links-color:               $site-text-color !default;
$site-page-links-bg-color:            $site-bg-color !default;
$site-page-links-active-bg-color:     $site-brand-primary !default;

$site-page-links-link-color:          $site-text-color !default;
$site-page-links-link-hover-color:    $site-bg-color !default;
$site-page-links-link-bg-color:       $site-bg-color !default;
$site-page-links-link-hover-bg-color: $site-brand-primary !default;
