// Page header

$site-page-header-padding:  24px 0 !default;
$site-page-header-padding-md:  56px 0 !default;

// $site-page-header-bg-color: $site-gray !default;

$site-page-header-title: $site-font-size-h2 !default;
$site-page-header-title-md: $site-font-size-h1 !default;
$site-page-header-description-margin-top: 8px !default;
$site-page-header-description-margin-top-md: 16px !default;
