// Toolbar

// $site-toolbar-border-radius: $site-border-radius !default;
$site-toolbar-padding-x: 0 !default;
$site-toolbar-padding-y: 0 !default;

$site-toolbar-font-size: 18px !default;
$site-toolbar-size: 48px !default;

$site-toolbar-font-size-md: 24px !default;
$site-toolbar-size-md: 64px !default;

$site-toolbar-dark-color:           $site-dark-contrast-color !default;
$site-toolbar-dark-hover-color:     $site-dark-contrast-hover-color !default;
$site-toolbar-dark-active-color:    $site-dark-contrast-active-color !default;
$site-toolbar-dark-disabled-color:  $site-dark-contrast-disabled-color !default;

$site-toolbar-light-color:          $site-light-contrast-color !default;
$site-toolbar-light-hover-color:    $site-light-contrast-hover-color !default;
$site-toolbar-light-active-color:   $site-light-contrast-active-color !default;
$site-toolbar-light-disabled-color: $site-light-contrast-disabled-color !default;
