<!DOCTYPE html>
<html lang="ja" class="no-js" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8">
		<title>EJS DEMO PAGE</title>
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport"
		content="width=device-width, minimum-scale=1, maximum-scale=10,initial-scale=1.0">

	</head>
	<body>
		<%_ let foo = 'Hello World'; -%>
		<h1><%= foo %></h1>
	</body>
</html>
